@media only screen and (max-width: 415px){
    .topnav{
        margin-top: 2%;
        height: 82px;
    }

    .email-img img{
        margin-left: 21px;
        height: 72%;
        width: 20px;
    }

    .phone-img img{
        padding-left: 11px;
        height: 14px;
        width: 15px;
    }
    /* .phone-img span{
        margin-left: -2px;
    } */

    .right-navbar span {
        padding-left: 8px;
        font-size: 3.35vw;
    }

    .right-navbar{
        padding-top: 12px;
    }
    .left-navbar{
        padding-right:11%;
    }

    .new-user button {
        font-size: 3.5vw;
        /* width: 93px; */
        width: 120%;
        /* height: 30px; */
        height: 115%;
        margin-top: 2px;
        margin-left: 9px;
        padding-left: 3px;
    }
    .new-user{
        padding-top:13%;
        margin-right: 28px;
        /* margin-right: 13px; */
    }
    .log-in {
        font-size: 3.5vw;
        /* margin-top: 18px; */
        padding-right: 12px;
        margin-top: 11%;
    }
    .logos span{
        margin-left: 5px;
    }

    .left-leave{
        padding-left:48px;
        margin-top: 6px;
        width: 0%;
    } 
    
    .left-nav2{
        padding-right: 36.5%;
        margin-top: 13%;
    }
    .left-nav2 a{
        font-size: 4vw;
        padding-right: 12.8%;
        margin-top: 6%;
    }
     .right-nav2{
        float: left;
        padding-top: 2%;
        padding-left: 7%;
    }
    .cc-img img{
        padding: 1px;
        border: 1px solid black;
        position: absolute;
        top: 111px;
        /* height: 5%; */
        width: 7.5%;
    } 
    .cc-img {
        margin-left: 2px;
    }
    .left-leave img.l1 {
        height: 16px;
        /* padding-top: 7px; */
    }
    .left-leave img {
        padding-left: 7px;
        height: 9px;
        /* padding-top: 10px;  */
    }
    .left-leave img.crtf {
        height: 10.8px;
        padding-left: 6px;
        /* margin-top: 2px; */
    }

    .left-leave img.l2 {
        height: 15px;
        /* padding-top: 9px; */
        margin-left: -7px;
    }

    .left-leave img.cc {
        /* margin-top: 1px; */
        margin-left: -5px;
    }
    /* margin-top: -29px; */
    /* .left-leave{
        position: absolute;
        top: 111px;
        padding-left: 67px;
    }  */
    .ds img{
        position: absolute;
        top: 157px;
        /* height: 5%; */
        width:63%;
        margin-left: -6%;
    }
    .dots{
        position: absolute;
        top: 140px;
        padding-left: 65.5%;
    }
    .dots img {
        /* padding-bottom: 20px; */
        margin-left: -17.5px;
        /* margin-top: -1px; */
    }
    .topnav2{
        border-bottom: 1px solid #eaeaea;
        height: 151px;
    } 




    .dsa{
        height: 628px;
    }
    .dsa img{
        margin-top: -17px;
        width: 39%;
        padding-right: 0%;
    }

    .industry{ 
        margin-left: 10%;
        margin-right: 10.3%;
    }
    
    .industry p{
            /* padding-left: 25px; */
        font-size: 4.8vw;
        letter-spacing: 1px;
        line-height: 41px;
        padding-top: 14px;
        margin-left: -9px;
        padding-right: 25px;
        }

    br {
        display: none;
      }
    .industry h1{
        padding-top: 40px;
        line-height: 136%;
        font-size: 9vw;
        margin-bottom: 15px;
        margin-left: -7px;

    }
    
    .button{
        padding-left: 40px;
        padding-top: 34px;
    }
    .button p{
        padding: 14px;
        padding-right: 84px;
        padding-left: 74px;
        margin-top: 7px;
        margin-left: -4px;
    }
 
    .time{
        margin-top: 0%;
        font-size: 3.8vw;
        height: 127px;
        width: 91%;
        padding-left: 8.7%;
        padding-top: 8px;
    }


    span.exam1{
        padding-left: 0%;
        line-height: 71px;
        font-size: 16.3px;
    }
    span.date1{
       
        font-size: 5vw;
        margin-left: 30%;
        padding-left: 34px;
    }
    span.vertical-line {
        border-left: 0px solid white;
        margin: 0px 0px 0px 0px;
    }
    span.date2{
       
        padding-left: 44px;
        font-size: 5vw;
    }

    /* .exam1{
        font-size: 4vw;
        margin-left: 3px;
    }
    .date1{
        margin-top: 30px;
        font-size: 20px;
        margin-left: 20px;
        
    }
    .date1 .date-span-2{
        margin-bottom: 5px;  
    }
      */


/* 

     .exam1 a{
        padding-left: 40px;
        padding-left: 0px;
    }
    
    .date1 a{
        padding-left: 30px;
        font-size: 25px;
        padding-left: 80px;
        font-size: 20px;
    } 



    .exam2{
        margin-left: 42px;
        margin-top: 60px;
    }
    .exam2 a{
        padding-left: 40px;
        padding-left: 0px;
        float:right;
    } 
    

    
    .date2 a{
        padding-left: 30px;
        font-size: 25px;
        padding-left: 80px;
        font-size: 20px;
    } 
    
 */



/* 

    .time{
        padding: 16%;
    }

    a.exam1{
        font-size: 4vw;
        margin-left: -48px;
    }
    a.date1{
        font-size: 5.5vw;
        padding-left: 67px;
    }
    a.exam2{
        font-size: 4vw;
        margin-left: -50px;
    }
    a.date2{
        font-size: 5.5vw;
        padding-left: 6px;
    } 



    .line{
        height: 28px;
        margin-top: -8px;
        margin-left: 52px;
    } */



    .certification{
        height: 0%;
        padding-bottom: 13%;
        padding-top: 70px;
        padding-right: 6%;
    }
    
    .certification h1{
        font-size: 9.7vw;
        padding-right: 45px;
        letter-spacing: -1px;
        padding-top: 2.5px;
    }
    .certification p{
        padding-left: 36px;
        padding-right: 33px;
        letter-spacing: 1px;
        line-height: 36px;
        font-size: 20px;
        margin-top: -7.5px
    } 
    

}