@import 'main';

.footer{
    color: #34404B;
    background-color: #f3f3f3;
    .f-footer{
        border-bottom: 2px solid white;
        padding: 33px 118px 0px 101px;
        
        p, .logos{
            @include CenterH1();
            font-size: 22px;
            img{
                margin-left: 10px;
                height: 26px;
            }
        }
    }
    .l-footer{
        @include marginAuto();
        padding-left: 10px;
        padding-right: 10px;
        @media #{$mediaQuary-phone}{
            justify-content: center;
        }
        .last-secong-foo{
            padding-right: 55%;
            @media #{$mediaQuary-phone}{
                padding-right: 0%;
            }
        
            .l-nav{
                display: flex;
                padding-top: 50px;
                justify-content: space-between;

                @media #{$mediaQuary-phone}{
                    display: block;
                    padding-top: 77px;
                    padding-bottom: 30px;
                }
                a{
                    font-size: 17px;
                    @media #{$mediaQuary-phone}{
                        display: block;
                        text-align: center;
                        padding-top: 20px;
                        
                    }
                    .hr-bar{
                        @include RedLine();
                        @media #{$mediaQuary-phone}{
                            display: none;
                        }
                    }
                    b{
                        margin-right: 30px;
                        @media #{$mediaQuary-phone} {
                            margin-left: -26px;
                            position: absolute;
                            margin-top: -38px;
                        }
                    }
                }
            }
        }
        .foo{
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 50px;

   

            @media #{$mediaQuary-phone}{
               
                flex-direction: column;
               
            }
            
            .codechef{
                display: flex;
                justify-content: space-between;
                @media #{$mediaQuary-phone}{
                   
                    flex-direction: column;
                  

                   
                }
                a{
                    
                    @media #{$mediaQuary-phone}{
                        display: block;
                        padding-top: 20px;
                        justify-content: center;

                    }
                    
                    font-size: 17px; 
                }
                .cc img{
                    height: 13.8px;
                    margin-right: 15px;
                    
                }
            }
            .payment-method{
                justify-content: space-between;
                @media #{$mediaQuary-phone}{
                    padding-top: 77px;
                    line-height: 45px;
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                }
                .amex{
                    @media #{$mediaQuary-phone}{
                        
                        img{
                            width: 72%;
                            @media #{$mediaQuary-phone}{
                                width: 35%;
                            }
                        }
                    
                        
                    }
                }
            }
        }
      
    }
    .last-dot{
        margin-left: 25px;
        margin-top: -17px;
        position: absolute;
        @include colous();
        @media #{$mediaQuary-phone} {
            margin-left: 43%;
            margin-top: -250px;
        }
        span.dot2 {
            height: 5.6px;
            width: 6px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 0.3px; 
        }

    }
}




