* {
  margin: 0;
  padding: 0;
  font-family: "ubuntu", sans-serif;
}

.dsa-page {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 14%;
}

.dsa-page h1 {
  font-size: 50px;
  padding-bottom: 26px;
  font-weight: inherit;
  word-spacing: -1px;
  padding-top: 12%;
}

@media only screen and (max-width: 480px) {
  .dsa-page h1 {
    font-size: 40px;
  }
}

.dsa-page p {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 43px;
  padding-bottom: 60px;
}

.dsa-page button {
  padding: 17px 80px 17px 80px;
  background-color: #ff5912;
  border: none;
  font-size: 20px;
  color: white;
}

.dsa-page img {
  margin-left: 80%;
}

@media only screen and (max-width: 480px) {
  .dsa-page img {
    margin-left: 63%;
  }
}

.time {
  background-color: #2F2F2F;
}

.time .ed {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .time .ed {
    padding-right: 1px;
    padding-left: 1px;
    display: inline;
    line-height: 49px;
  }
  .time .ed .one {
    margin-left: -10px;
  }
  .time .ed .one .exam1 {
    font-size: 18px;
    margin-right: 24%;
  }
  .time .ed .one .date1 {
    font-size: 23px;
  }
  .time .ed .two {
    margin-left: -10px;
  }
  .time .ed .two .exam2 {
    font-size: 18px;
  }
  .time .ed .two .date2 {
    font-size: 23px;
  }
}

.time .ed span {
  margin-left: 45px;
  font-size: 21px;
}

.time .ed span.vertical-line {
  border-left: 1px solid white;
  border-bottom-style: solid;
}

@media only screen and (max-width: 480px) {
  .time .ed span.vertical-line {
    display: none;
  }
}

.time .ed span.date1 {
  font-size: 26px;
}

.certification {
  background-color: #e7e6e6;
}

.certification .dsa-color {
  color: #34404B;
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 21%;
  padding-right: 19%;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color {
    padding-left: 15%;
    padding-right: 13%;
  }
}

.certification .dsa-color h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color h1 {
    font-size: 42px;
  }
}

.certification .dsa-color p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.topnav {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .topnav {
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 20px;
  }
}

.topnav .left-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .topnav .left-navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.topnav .left-navbar .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .topnav .left-navbar .left-side {
    padding-bottom: 20px;
  }
}

.topnav .left-navbar .left-side img, .topnav .left-navbar .left-side span {
  margin-right: 20px;
}

@media only screen and (max-width: 480px) {
  .topnav .left-navbar .left-side img, .topnav .left-navbar .left-side span {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .topnav .left-navbar .right-navbar {
    padding-right: 20px;
  }
}

.topnav .left-navbar .right-navbar button {
  padding: 10px 25px 10px 30px;
  border: 1px solid red;
  border-radius: 3px;
  font-size: 16px;
  margin-left: 30px;
}

@media only screen and (max-width: 480px) {
  .topnav .left-navbar .right-navbar button {
    padding: 6px 7px 7px 9px;
  }
}

.border-line {
  border-top: 1px solid #eaeaea;
}

.topnav2 {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .topnav2 {
    display: block;
  }
}

.topnav2 .right-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav2 .right-nav2 .cc-img {
  margin-right: 15px;
}

.topnav2 .right-nav2 .cc-img img {
  border: 1px solid #707070;
  padding: 3px;
}

.topnav2 .right-nav2 .left-img .dots img {
  margin-left: 78%;
  margin-bottom: 50px;
}

.topnav2 .left-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .topnav2 .left-nav2 {
    padding-bottom: 30px;
  }
}

.topnav2 .left-nav2 a {
  margin-right: 30px;
  font-size: 19px;
}

.topnav2 .left-nav2 a .hr-bar {
  border: 2px solid #ff5912;
  border-radius: 3px;
  width: 20px;
  margin-top: 5px;
}

.topnav2 .left-nav2 a.home {
  color: #ff5912;
}

.dsa-page {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 14%;
}

.dsa-page h1 {
  font-size: 50px;
  padding-bottom: 26px;
  font-weight: inherit;
  word-spacing: -1px;
  padding-top: 12%;
}

@media only screen and (max-width: 480px) {
  .dsa-page h1 {
    font-size: 40px;
  }
}

.dsa-page p {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 43px;
  padding-bottom: 60px;
}

.dsa-page button {
  padding: 17px 80px 17px 80px;
  background-color: #ff5912;
  border: none;
  font-size: 20px;
  color: white;
}

.dsa-page img {
  margin-left: 80%;
}

@media only screen and (max-width: 480px) {
  .dsa-page img {
    margin-left: 63%;
  }
}

.time {
  background-color: #2F2F2F;
}

.time .ed {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .time .ed {
    padding-right: 1px;
    padding-left: 1px;
    display: inline;
    line-height: 49px;
  }
  .time .ed .one {
    margin-left: -10px;
  }
  .time .ed .one .exam1 {
    font-size: 18px;
    margin-right: 24%;
  }
  .time .ed .one .date1 {
    font-size: 23px;
  }
  .time .ed .two {
    margin-left: -10px;
  }
  .time .ed .two .exam2 {
    font-size: 18px;
  }
  .time .ed .two .date2 {
    font-size: 23px;
  }
}

.time .ed span {
  margin-left: 45px;
  font-size: 21px;
}

.time .ed span.vertical-line {
  border-left: 1px solid white;
  border-bottom-style: solid;
}

@media only screen and (max-width: 480px) {
  .time .ed span.vertical-line {
    display: none;
  }
}

.time .ed span.date1 {
  font-size: 26px;
}

.certification {
  background-color: #e7e6e6;
}

.certification .dsa-color {
  color: #34404B;
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 21%;
  padding-right: 19%;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color {
    padding-left: 15%;
    padding-right: 13%;
  }
}

.certification .dsa-color h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color h1 {
    font-size: 42px;
  }
}

.certification .dsa-color p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.dsa-page {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 14%;
}

.dsa-page h1 {
  font-size: 50px;
  padding-bottom: 26px;
  font-weight: inherit;
  word-spacing: -1px;
  padding-top: 12%;
}

@media only screen and (max-width: 480px) {
  .dsa-page h1 {
    font-size: 40px;
  }
}

.dsa-page p {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 43px;
  padding-bottom: 60px;
}

.dsa-page button {
  padding: 17px 80px 17px 80px;
  background-color: #ff5912;
  border: none;
  font-size: 20px;
  color: white;
}

.dsa-page img {
  margin-left: 80%;
}

@media only screen and (max-width: 480px) {
  .dsa-page img {
    margin-left: 63%;
  }
}

.time {
  background-color: #2F2F2F;
}

.time .ed {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .time .ed {
    padding-right: 1px;
    padding-left: 1px;
    display: inline;
    line-height: 49px;
  }
  .time .ed .one {
    margin-left: -10px;
  }
  .time .ed .one .exam1 {
    font-size: 18px;
    margin-right: 24%;
  }
  .time .ed .one .date1 {
    font-size: 23px;
  }
  .time .ed .two {
    margin-left: -10px;
  }
  .time .ed .two .exam2 {
    font-size: 18px;
  }
  .time .ed .two .date2 {
    font-size: 23px;
  }
}

.time .ed span {
  margin-left: 45px;
  font-size: 21px;
}

.time .ed span.vertical-line {
  border-left: 1px solid white;
  border-bottom-style: solid;
}

@media only screen and (max-width: 480px) {
  .time .ed span.vertical-line {
    display: none;
  }
}

.time .ed span.date1 {
  font-size: 26px;
}

.certification {
  background-color: #e7e6e6;
}

.certification .dsa-color {
  color: #34404B;
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 21%;
  padding-right: 19%;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color {
    padding-left: 15%;
    padding-right: 13%;
  }
}

.certification .dsa-color h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color h1 {
    font-size: 42px;
  }
}

.certification .dsa-color p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.levels {
  color: #34404B;
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 23%;
  padding-bottom: 50px;
}

@media only screen and (max-width: 480px) {
  .levels {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.levels h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .levels h1 {
    text-align: left;
  }
}

.levels .found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 26px;
  letter-spacing: 1px;
  color: #ff5912;
  padding-bottom: 40px;
}

@media only screen and (max-width: 480px) {
  .levels .found {
    padding-left: 0%;
    font-size: 21px;
  }
  .levels .found a {
    margin-right: 30px;
  }
}

.levels .found .hr-bar {
  border: 2px solid #ff5912;
  border-radius: 3px;
  width: 20px;
  margin-top: 5px;
}

.levels a.foundation {
  color: #34404B;
}

.levels p, .levels h3 {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 480px) {
  .levels h3 {
    font-size: 26px;
  }
}

.levels .right-side {
  margin-left: 46%;
  margin-top: -73px;
}

@media only screen and (max-width: 480px) {
  .levels .right-side {
    margin-left: 0%;
    padding-top: 53px;
  }
}

.levels .right-side .prag p, .levels .right-side .prag h4, .levels .right-side .prag h3 {
  margin-bottom: 1px;
}

.levels .right-side .prag h4, .levels .right-side .prag h3 {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #ff5912;
  font-weight: unset;
}

.levels .right-side .prag b {
  color: #34404B;
  margin-left: -26.3%;
  position: absolute;
  margin-top: 55px;
}

@media only screen and (max-width: 480px) {
  .levels .right-side .prag b {
    margin-left: 0px;
    margin-top: 15px;
  }
}

.levels .right-side .desktopImg {
  padding: 10px 10px 10px 90px;
}

@media only screen and (max-width: 480px) {
  .levels .right-side .desktopImg {
    display: none;
  }
}

.levels .right-side .desktopImg .rupees .cut {
  font-size: 26.5px;
  position: absolute;
  margin-top: -53px;
}

.levels .right-side .desktopImg .rupees .cut::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.levels .right-side .desktopImg .rupees p {
  line-height: 10px;
  margin-top: 58px;
}

.levels .right-side .desktopImg .rupees p.a-between {
  margin-top: 40px;
}

.levels .right-side .phoneImg {
  display: none;
}

@media only screen and (max-width: 480px) {
  .levels .right-side .phoneImg {
    display: block;
  }
  .levels .right-side .phoneImg .rupees {
    padding-top: 95px;
  }
  .levels .right-side .phoneImg .rupees .cut {
    font-size: 26.5px;
    position: absolute;
    margin-top: -41px;
  }
  .levels .right-side .phoneImg .rupees .cut::before {
    position: absolute;
    content: "";
    left: 23%;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  .levels .right-side .phoneImg .rupees .dis-price {
    padding-bottom: 15px;
  }
  .levels .right-side .phoneImg .rupees span {
    font-size: 24px;
    line-height: 43px;
    padding-left: 48px;
  }
}

.levels button {
  padding: 17px 80px 17px 80px;
  background-color: #ff5912;
  border: none;
  font-size: 20px;
  color: white;
  margin-left: 51%;
  margin-top: 55px;
}

@media only screen and (max-width: 480px) {
  .levels button {
    margin-left: 0px;
  }
}

.dsa-page {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 14%;
}

.dsa-page h1 {
  font-size: 50px;
  padding-bottom: 26px;
  font-weight: inherit;
  word-spacing: -1px;
  padding-top: 12%;
}

@media only screen and (max-width: 480px) {
  .dsa-page h1 {
    font-size: 40px;
  }
}

.dsa-page p {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 43px;
  padding-bottom: 60px;
}

.dsa-page button {
  padding: 17px 80px 17px 80px;
  background-color: #ff5912;
  border: none;
  font-size: 20px;
  color: white;
}

.dsa-page img {
  margin-left: 80%;
}

@media only screen and (max-width: 480px) {
  .dsa-page img {
    margin-left: 63%;
  }
}

.time {
  background-color: #2F2F2F;
}

.time .ed {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .time .ed {
    padding-right: 1px;
    padding-left: 1px;
    display: inline;
    line-height: 49px;
  }
  .time .ed .one {
    margin-left: -10px;
  }
  .time .ed .one .exam1 {
    font-size: 18px;
    margin-right: 24%;
  }
  .time .ed .one .date1 {
    font-size: 23px;
  }
  .time .ed .two {
    margin-left: -10px;
  }
  .time .ed .two .exam2 {
    font-size: 18px;
  }
  .time .ed .two .date2 {
    font-size: 23px;
  }
}

.time .ed span {
  margin-left: 45px;
  font-size: 21px;
}

.time .ed span.vertical-line {
  border-left: 1px solid white;
  border-bottom-style: solid;
}

@media only screen and (max-width: 480px) {
  .time .ed span.vertical-line {
    display: none;
  }
}

.time .ed span.date1 {
  font-size: 26px;
}

.certification {
  background-color: #e7e6e6;
}

.certification .dsa-color {
  color: #34404B;
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 21%;
  padding-right: 19%;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color {
    padding-left: 15%;
    padding-right: 13%;
  }
}

.certification .dsa-color h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color h1 {
    font-size: 42px;
  }
}

.certification .dsa-color p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.testimonials {
  background-color: #f6f4f4;
}

.testimonials .test-heading {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 480px) {
  .testimonials .test-heading {
    padding-right: 77px;
  }
}

.testimonials .test-heading h2 {
  padding-top: 10%;
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .testimonials .test-heading h2 {
    text-align: left;
    font-size: 45px;
  }
}

.testimonials .test-heading p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .testimonials .test-heading p {
    text-align: left;
    font-size: 25px;
  }
}

.testimonials .ccdsap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding-top: 40px;
}

.testimonials .ccdsap .ls-card {
  opacity: 0.49;
  background-color: white;
  height: 75%;
  width: 203px;
  margin-top: 40px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .ls-card {
    display: none;
  }
}

.testimonials .ccdsap .ls-card h4 {
  font-size: 23px;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.5px;
  line-height: 35px;
  padding-top: 49px;
  padding-right: 43px;
  padding-bottom: 60px;
}

.testimonials .ccdsap .ls-card p {
  border-bottom: 1px solid #887f7f;
  padding-top: 64%;
}

.testimonials .ccdsap .ls-card .left-dot {
  margin-left: 5%;
  position: absolute;
}

.testimonials .ccdsap .ls-card .left-dot .blue {
  background-color: #387FCB;
}

.testimonials .ccdsap .ls-card .left-dot .yellow {
  background-color: #F7CE44;
}

.testimonials .ccdsap .ls-card .left-dot .orangered {
  background-color: #E86A1C;
}

.testimonials .ccdsap .ls-card .left-dot .red {
  background-color: #E81C1C;
}

.testimonials .ccdsap .ls-card .left-dot .grey {
  background-color: #C4C3C3;
}

.testimonials .ccdsap .ls-card .left-dot span.dot-l {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
}

.testimonials .ccdsap .arrow-l {
  margin-top: 10%;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .arrow-l {
    display: none;
  }
}

.testimonials .ccdsap .arrow-l .mob_l_arrow {
  display: none;
}

.testimonials .ccdsap .mid-box {
  width: 44%;
  background-color: rgba(255, 255, 255, 0.787);
  border: 1px solid #c3bdbd;
  height: 440px;
  -webkit-box-shadow: 3px 17px 12px -22px;
          box-shadow: 3px 17px 12px -22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box {
    width: 100%;
    height: 600px;
    padding-bottom: 50px;
  }
}

.testimonials .ccdsap .mid-box .content .mid-cont {
  letter-spacing: 1.1px;
  line-height: 35px;
  padding: 50px 60px 0px 10px;
  font-size: 133%;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .content .mid-cont {
    padding: 48px 17px 0px 0px;
  }
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .content .intro {
    padding-left: 10px;
  }
}

.testimonials .ccdsap .mid-box .content h3 {
  font-size: 22px;
  padding-left: 47px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .content h3 {
    padding-top: 40px;
    font-size: 26px;
  }
}

.testimonials .ccdsap .mid-box .content p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  margin-left: 45px;
}

.testimonials .ccdsap .mid-box .img {
  background-color: #e4e1e1;
  width: 18%;
  height: 440px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .img {
    height: 650px;
    width: 23%;
  }
}

.testimonials .ccdsap .mid-box .img img {
  margin-top: 184px;
  margin-left: 63px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .img img {
    margin-top: 415px;
    margin-left: 30px;
  }
}

.testimonials .ccdsap .mid-box .double-quote img {
  position: absolute;
  margin-left: -35.5%;
  margin-top: 41px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .double-quote img {
    margin-left: -77%;
  }
}

.testimonials .ccdsap .mid-box .line {
  width: 85%;
  margin-left: 45px;
  margin-top: -23px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .line {
    width: 69%;
  }
}

.testimonials .ccdsap .mid-box p em {
  margin-top: -25px;
  position: absolute;
}

.testimonials .ccdsap .mid-box .test-dot {
  margin-left: 37.5%;
  margin-top: 345px;
  position: absolute;
}

.testimonials .ccdsap .mid-box .test-dot .blue {
  background-color: #387FCB;
}

.testimonials .ccdsap .mid-box .test-dot .yellow {
  background-color: #F7CE44;
}

.testimonials .ccdsap .mid-box .test-dot .orangered {
  background-color: #E86A1C;
}

.testimonials .ccdsap .mid-box .test-dot .red {
  background-color: #E81C1C;
}

.testimonials .ccdsap .mid-box .test-dot .grey {
  background-color: #C4C3C3;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .mid-box .test-dot {
    margin-left: 34%;
    margin-top: 560px;
  }
}

.testimonials .ccdsap .mid-box .test-dot span.dot1 {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
}

.testimonials .ccdsap .arrow-r {
  margin-top: 10%;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .arrow-r {
    display: none;
  }
}

.testimonials .ccdsap .arrow-r .mob_r_arrow {
  display: none;
}

.testimonials .ccdsap .right-card {
  height: 356px;
  background-color: white;
  width: 16%;
  opacity: 0.49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media only screen and (max-width: 480px) {
  .testimonials .ccdsap .right-card {
    display: none;
  }
}

.testimonials .ccdsap .right-card .right-img {
  background-color: #e4e1e1;
  height: 356px;
  width: 40%;
}

.testimonials .ccdsap .right-card .right-img img {
  margin-top: 126px;
  margin-left: 40px;
}

.testimonials .ccdsap .third-card {
  padding: 1px 1px 2px 73px;
}

.testimonials .ccdsap .third-card h4 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 35px;
  margin-top: -68px;
}

.testimonials .ccdsap .third-card h5 {
  font-size: 18px;
  padding-top: 30px;
}

.testimonials .ccdsap .third-card h6 {
  font-size: 18px;
  padding-top: 5px;
  font-weight: 300;
}

.testimonials .ccdsap .third-card p {
  border-bottom: 1px solid #887f7f;
  padding-top: 13%;
  width: 93%;
}

.testimonials .ccdsap .third-card h3 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.testimonials .ccdsap .third-card .double-quote2 {
  width: 28px;
  margin-left: -34px;
  margin-top: 28px;
}

.certified-users {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  color: #34404B;
  padding-bottom: 50px;
}

.certified-users h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .certified-users h1 {
    text-align: left;
  }
}

.certified-users .lorem {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -25px;
}

@media only screen and (max-width: 480px) {
  .certified-users .lorem {
    display: none;
  }
}

.certified-users .all-posters .neha-img {
  background: -webkit-gradient(linear, left top, right top, color-stop(53%, #f7f7f7), color-stop(45%, #ffffff));
  background: linear-gradient(to right, #f7f7f7 53%, #ffffff 45%);
  border: 1px solid #cbcbcb;
  height: 399px;
  width: 13%;
  display: inline-block;
  padding: 50px 50px 20px 54px;
  margin-left: 46px;
  margin-bottom: 63px;
}

@media only screen and (max-width: 480px) {
  .certified-users .all-posters .neha-img {
    width: 40%;
  }
}

.certified-users .all-posters .neha-img img {
  width: 76%;
}

.certified-users .all-posters .neha-img h3 {
  margin-top: 50px;
}

.certified-users .all-posters .neha-img p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.certified-users .all-posters .neha-img .line1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.certified-users .all-posters .neha-img .circle .blue {
  background-color: #387FCB;
}

.certified-users .all-posters .neha-img .circle .yellow {
  background-color: #F7CE44;
}

.certified-users .all-posters .neha-img .circle .orangered {
  background-color: #E86A1C;
}

.certified-users .all-posters .neha-img .circle .red {
  background-color: #E81C1C;
}

.certified-users .all-posters .neha-img .circle .grey {
  background-color: #C4C3C3;
}

.certified-users .all-posters .neha-img .circle span.dot {
  height: 10px;
  width: 11px;
  border-radius: 50%;
  display: inline-block;
}

.dsa-page {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 14%;
}

.dsa-page h1 {
  font-size: 50px;
  padding-bottom: 26px;
  font-weight: inherit;
  word-spacing: -1px;
  padding-top: 12%;
}

@media only screen and (max-width: 480px) {
  .dsa-page h1 {
    font-size: 40px;
  }
}

.dsa-page p {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 43px;
  padding-bottom: 60px;
}

.dsa-page button {
  padding: 17px 80px 17px 80px;
  background-color: #ff5912;
  border: none;
  font-size: 20px;
  color: white;
}

.dsa-page img {
  margin-left: 80%;
}

@media only screen and (max-width: 480px) {
  .dsa-page img {
    margin-left: 63%;
  }
}

.time {
  background-color: #2F2F2F;
}

.time .ed {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 480px) {
  .time .ed {
    padding-right: 1px;
    padding-left: 1px;
    display: inline;
    line-height: 49px;
  }
  .time .ed .one {
    margin-left: -10px;
  }
  .time .ed .one .exam1 {
    font-size: 18px;
    margin-right: 24%;
  }
  .time .ed .one .date1 {
    font-size: 23px;
  }
  .time .ed .two {
    margin-left: -10px;
  }
  .time .ed .two .exam2 {
    font-size: 18px;
  }
  .time .ed .two .date2 {
    font-size: 23px;
  }
}

.time .ed span {
  margin-left: 45px;
  font-size: 21px;
}

.time .ed span.vertical-line {
  border-left: 1px solid white;
  border-bottom-style: solid;
}

@media only screen and (max-width: 480px) {
  .time .ed span.vertical-line {
    display: none;
  }
}

.time .ed span.date1 {
  font-size: 26px;
}

.certification {
  background-color: #e7e6e6;
}

.certification .dsa-color {
  color: #34404B;
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 21%;
  padding-right: 19%;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color {
    padding-left: 15%;
    padding-right: 13%;
  }
}

.certification .dsa-color h1 {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
}

@media only screen and (max-width: 480px) {
  .certification .dsa-color h1 {
    font-size: 42px;
  }
}

.certification .dsa-color p {
  font-size: 22px;
  line-height: 42px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.footer {
  color: #34404B;
  background-color: #f3f3f3;
}

.footer .f-footer {
  border-bottom: 2px solid white;
  padding: 33px 118px 0px 101px;
}

.footer .f-footer p, .footer .f-footer .logos {
  text-align: center;
  font-weight: unset;
  font-size: 49px;
  padding-bottom: 33px;
  font-size: 22px;
}

.footer .f-footer p img, .footer .f-footer .logos img {
  margin-left: 10px;
  height: 26px;
}

.footer .l-footer {
  color: #34404B;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer .l-footer .l-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .l-nav {
    display: block;
    padding-top: 77px;
    padding-bottom: 30px;
  }
}

.footer .l-footer .l-nav a {
  margin-right: 40px;
  font-size: 17px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .l-nav a {
    display: block;
    text-align: center;
    padding-top: 20px;
  }
}

.footer .l-footer .l-nav a .hr-bar {
  border: 2px solid #ff5912;
  border-radius: 3px;
  width: 20px;
  margin-top: 5px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .l-nav a .hr-bar {
    display: none;
  }
}

.footer .l-footer .l-nav a b {
  margin-right: 30px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .l-nav a b {
    margin-left: -26px;
    position: absolute;
    margin-top: -38px;
  }
}

.footer .l-footer .foo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .foo .codechef {
    margin-left: 37%;
  }
}

.footer .l-footer .foo .codechef a {
  margin-right: 30px;
  font-size: 17px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .foo .codechef a {
    display: block;
    padding-top: 20px;
  }
}

.footer .l-footer .foo .codechef .cc img {
  height: 13.8px;
  margin-right: 15px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .foo .payment-method {
    margin-top: 77%;
    margin-left: -140px;
    line-height: 45px;
    font-size: 20px;
  }
}

.footer .l-footer .foo .payment-method .amex {
  margin-left: 30px;
}

@media only screen and (max-width: 480px) {
  .footer .l-footer .foo .payment-method .amex {
    margin-left: -18px;
  }
  .footer .l-footer .foo .payment-method .amex img {
    width: 72%;
  }
}

.footer .last-dot {
  margin-left: 25px;
  margin-top: -17px;
  position: absolute;
}

.footer .last-dot .blue {
  background-color: #387FCB;
}

.footer .last-dot .yellow {
  background-color: #F7CE44;
}

.footer .last-dot .orangered {
  background-color: #E86A1C;
}

.footer .last-dot .red {
  background-color: #E81C1C;
}

.footer .last-dot .grey {
  background-color: #C4C3C3;
}

@media only screen and (max-width: 480px) {
  .footer .last-dot {
    margin-left: 43%;
    margin-top: -250px;
  }
}

.footer .last-dot span.dot2 {
  height: 5.6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.3px;
}
/*# sourceMappingURL=style1.css.map */